.app-wrapper{
  display: grid;
 grid-template-areas:
 "a a"
 "h c"; 
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr ;
}
.app-wrapper-content{
  background-color: lightblue;
  grid-area:c;
}