.app-wrapper{
  margin: 0 auto;
  display: grid;
  /* width:auto ; */
 grid-template-areas:
 "a a"
 "h c"; 
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr ;
}
/* .first{
  grid-area:a;
  background-color: grey;
}
.first img{
  width: 60px;
} */

/* .nav{
  grid-area:h;
  background-color: goldenrod;
} */
/* .content{
  grid-area: c;
  background-color: lightsalmon;
} */
